*{
    margin: 0;
    padding: 0;

    
    
}
.landing {
    background-image: url(../images/pokemon6.jpg);
    height: 100vh;
    background-size: cover;
}

.landing-title {
    text-decoration: none;
    text-align:center;
    color: #fff;
    background: #eee;
    font-family: impact;
    font-size: 80px;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
    
}

.landing-title:hover {

color: blue;
background: blue;
font-family: impact;

letter-spacing: 0;
text-shadow: -3px -3px 3px white, 3px -3px 3px white, -3px 3px 3px white, 3px 3px 3px white;
}

.landing p {
    font-size: 30px;    
}